@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow-x: hidden;
    background: linear-gradient(to bottom, antiquewhite, rgb(201, 175, 142));
    background-attachment: fixed;
    scroll-behavior: smooth;

}

.nav {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    align-items: center;
    height: 80px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
}

.logo {
    width: 125px;
    height: 100px;
    margin: 10px;

}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
}

.navlinks {
    text-decoration: none;
    color: rgb(75, 46, 46);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.portal {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.btn {
    padding: 20px 30px;
    transform: scale(0.8);
    text-decoration: none;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 500;
    transition: all ease 0.3s;
}

.btn:hover {
    background-color: black;
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent), url("laborgroup.png");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 100px;
    gap: 5px;
    background-attachment: fixed;
}

.hero p {
    width: 900px;
}

.hero h1 {
    font-size: 3em;
}

.herobtn {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 15px;
    margin-top: 20px;
    width: 200px;
    color: rgb(255, 247, 247);
    background-color: transparent;
    transition: all ease 0.3s;
    font-size: 20px;
    cursor: pointer;
}

.herobtn:nth-child(2) {
    margin-left: 20px;
}

.herobtn:hover {
    background-color: white;
    color: black;

}

.promain {
    margin-top: 30px;
    margin-left: 125px;
    font-size: 1.5em;
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px 100px;
}

.main {
    /* display: grid; */
    padding: 20px;
    border: 5px solid rgb(205, 192, 180);
    border-radius: 15px;
    background-color: rgba(241, 240, 218, 0.822);
    box-shadow: 0px 2px 4px rgb(230, 216, 164);
    position: relative;
    transition: transform 0.4s ease;
    cursor: pointer;
    transform: scale(0.9);
}

.main:hover {
    transform: scale(0.95);
}

.main img {
    width: 100%;
    height: 300px;
    filter: blur(5px);
    border-radius: 7px;
    transition: all ease 0.7s;
}

.main:hover img {
    filter: blur(0);
}

.main h3 {
    text-align: center;
    font-size: 26px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 20px;
}

.main p {
    text-align: center;
    color: rgb(65, 66, 61);
    line-height: 23px;
    padding-bottom: 20px;
}

.section {
    background-image: url(../files/bg.jpg);
    opacity: 0.9;
    background-size: 100%;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section h3 {
    padding: 20px;
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

.section p {
    text-align: center;
    padding: 40px;
    font-size: 32px;
    font-weight: bolder;
    width: 90%;

}

.jobs {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    border: 3px solid rgb(14, 12, 12);
    border-radius: 10px;
    width: max-content;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all ease 0.3s;


}

.jobs a {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: rgb(23, 22, 22);
}

.jobs:hover {
    transition: all ease 0.3s;
    background-color: cornsilk;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 50px;
    align-items: center;
    gap: 100px;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.all-link {
    display: flex;
    flex-direction: column;
}

.all-link a {
    color: black;
    text-decoration: none;
    transition: all ease 0.3s;
}

.all-link a:hover {

    color: rgb(99, 80, 80);
    text-decoration: underline;
}

.footer-links {

    display: flex;
    flex-direction: row;
    gap: 50px;
}

.link h3 {
    font-size: 22px;
    color: rgb(146, 126, 14);
}

.para {
    text-align: center;
    margin-bottom: 30px;
}